<div class="md_column1300">
    <h1><i class="fa fa-info-circle"></i> Hello world</h1>
    <p>Hello world - это веб-приложение на базе <a href="http://www.oknosoft.ru/metadata/" target="_blank">Metadata.js</a> для демонстрации базовых возможностей фреймворка
    </p>

    <h3>Назначение и возможности</h3>
    <ul>
        <li>Ввод и редактирование докумнтов поступления - выбытия - перемещения денег</li>
        <li>Формирование отчета о движении денег</li>
		<li>Автономная работа при отсутствии доступа к Интернет</li>
		<li>Фоновая синхронизация с ИБ 1С</li>
    </ul>

    <h3>Использованы следующие библиотеки и инструменты:</h3>
    <h4>Серверная часть</h4>
    <ul>
        <li><a href="http://couchdb.apache.org/" target="_blank">couchDB</a>, NoSQL база данных с поддержкой master-master репликации</li>
        <li><a href="http://nginx.org/ru/" target="_blank">nginx</a>, высокопроизводительный HTTP-сервер</li>
    </ul>

    <h4>Управление данными в памяти браузера</h4>
    <ul>
		<li><a href="http://www.oknosoft.ru/metadata/" target="_blank">metadata.js</a>, движок ссылочной типизации для браузера и Node.js</li>
        <li><a href="https://pouchdb.com/" target="_blank">pouchDB</a>, клиентская NoSQL база данных с поддержкой автономной работы и репликации с CouchDB</li>
        <li><a href="https://github.com/agershun/alasql" target="_blank">alaSQL</a>, SQL-интерфейс к массивам javascript в памяти браузера и Node.js</li>
    </ul>

    <h4>UI библиотеки и компоненты интерфейса</h4>
    <ul>
        <li><a href="http://dhtmlx.com/" target="_blank">dhtmlx</a>, кроссбраузерная библиотека javascript для построения современных веб и мобильных приложений</li>
        <li><a href="https://handsontable.com/" target="_blank">handsontable</a>, компонент для отображения и редактирования табличных данных</li>
        <li><a href="https://github.com/eligrey/FileSaver.js" target="_blank">filesaver.js</a>, HTML5 реализация метода saveAs</li>
        <li><a href="http://momentjs.com/" target="_blank">moment.js</a>, библиотека форматирования интервалов и дат</li>
        <li><a href="https://github.com/SheetJS/js-xlsx" target="_blank">xlsx</a>, библиотека для чтения и записи XLSX / XLSM / XLSB / XLS / ODS в браузере</li>
    </ul>

    <h4>Графика</h4>
    <ul>
        <li><a href="https://fortawesome.github.io/Font-Awesome/" target="_blank">fontawesome</a>, набор шрифтовых иконок</li>
    </ul>

    <h3>Лицензия</h3>
    <p>Для некоммерческих Open Source проектов, разрешено использование и распространение библиотеки
        <a href="http://www.oknosoft.ru/metadata/" target="_blank">Metadata.js</a><br />на условиях
        <a href="http://www.gnu.org/licenses/agpl.html" target="_blank">GNU Affero General Public License v.3</a>.<br />
        Коммерческая <a href="http://www.oknosoft.ru/programmi-oknosoft/metadata.html" target="_blank">лицензия на разработчика</a> позволяет использовать и распространять ПО в любом количестве неконкурирующих продуктов, без ограничений на количество копий
    </p>

    <h3><i class="fa fa-question-circle"></i> Вопросы</h3>
    <p>Если обнаружили ошибку, пожалуйста,
        <a href="https://github.com/oknosoft/metadata.js/issues" target="_blank">зарегистрируйте вопрос в GitHub</a> или
        <a href="http://www.oknosoft.ru/metadata/#page-118" target="_blank">свяжитесь с разработчиком</a> напрямую<br /></p>
    <p>&nbsp;</p>

</div>